html{
    height: 100%;
    color: white;
}

body{
    background: url("../images/background_bubbles.png");
    background-size: cover;
    padding: 50px;
}


#title{
    border-style: solid;
    background-color: purple;
    opacity: .7;
    padding: 10px;
    font-size: 2em;
}
#instructions{
    border-style: solid;
    background-color: purple;
    opacity: .7;
    padding: 10px;
    margin: 10px auto;
}
p{
    margin: 20px;
    text-size: 1.3em;

}

.scoreboard{
    display: inline-block;
}

#computerNumber{
    border-style: solid;
    background-color: purple;
    opacity: .7;
    padding: 10px;
    padding: 10px;
    margin: 10px auto;

}

.win_loss{
    border-style: solid;
    background-color: purple;
    opacity: .7;
    padding: 10px;
    padding: 10px;
    margin: 10px auto;

}

#score{
    border-style: solid;
    background-color: purple;
    opacity: .7;
    padding: 10px;
    padding: 10px;
    margin: 10px auto;

}



.gems{
    display: inline-block;
    margin: 10px;
    height: 150px;
    border-style: solid;
    background-color: purple;
    opacity: .7;
    padding: 10px; 

}